<!DOCTYPE html>
<html lang="en">
<style>
    * {
        margin: 0;
        padding: 0;
        outline: none;
    }

    body {
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        background: rgb(22, 28, 36);
    }

    div.widget {
        position: relative;
        width: 375px;
        height: 125px;
        margin: 150px auto;
        background-color: #fcfdfd;
        border-radius: 9px;
        padding: 25px;
        padding-right: 30px;
        box-shadow: 0 31px 35px -26px #080c21;
    }

    div.left-panel {
    }

    div.date {
        font-size: 14px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
    }

    div.city {
        font-size: 21px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 5px;
        color: rgba(0, 0, 0, 0.7);
    }

    div.temp {
        font-size: 81px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div.panel {
        display: inline-block;
    }

    div.right-panel {
        position: absolute;
        float: right;
        top: 0;
        margin-top: 35px;
        padding-left: 50px;
    }

    #btnDownload {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    #btnDownload svg {
        width: 135px;
    }
</style>
<body>
<div class="widget">
    <div class="left-panel panel">
        <div class="date">
            <%= date || 'No date' %>
        </div>
        <div class="city">
            <%= city || 'Unknown' %>
        </div>
        <div class="temp">
            <img src="https://openweathermap.org/img/wn/<%= icon || '01d' %>@2x.png" alt="" width="80">
            <%= Math.round(temp) || '0' %>&deg;
        </div>
    </div>
    <div class="right-panel panel">
        <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 512 512">
            <path fill="#8e6049"
                  d="M52.749 213.583a3.241 3.241 0 0 1-3.242-3.242V163.14a3.241 3.241 0 1 1 6.484 0v47.201a3.241 3.241 0 0 1-3.242 3.242m67.78-3.241v-47.201a3.241 3.241 0 1 0-6.484 0v47.201a3.241 3.241 0 1 0 6.484 0"/>
            <path fill="#f4580b" d="M44.677 160.189h80.683v29.504H44.677z"/>
            <path fill="#597b91"
                  d="M327.426 16.239h-3.902a3.517 3.517 0 0 0-3.517 3.517v133.796a3.517 3.517 0 0 0 3.517 3.517h3.902a3.517 3.517 0 0 0 3.517-3.517V19.755a3.517 3.517 0 0 0-3.517-3.516M154.918 206.775H16.209a4.201 4.201 0 0 0-4.201 4.201v291.162a4.201 4.201 0 0 0 4.201 4.201h138.709a4.201 4.201 0 0 0 4.201-4.201V210.975a4.2 4.2 0 0 0-4.201-4.2"/>
            <path fill="#b0e9ff"
                  d="M38.818 367.912h-8.727a2.419 2.419 0 0 1-2.419-2.419v-26.791a2.419 2.419 0 0 1 2.419-2.419h8.727a2.419 2.419 0 0 1 2.419 2.419v26.791a2.418 2.418 0 0 1-2.419 2.419m27.974-2.419v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.554 0v-26.791a2.419 2.419 0 0 0-2.419-2.419H81.2a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.555 0v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.554 0v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m-102.217-89.28v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.42 2.42 0 0 0 2.419-2.419m25.554 0v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.554 0v-26.791a2.419 2.419 0 0 0-2.419-2.419H81.2a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.555 0v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.554 0v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419M41.238 415.262v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.42 2.42 0 0 0 2.419-2.419m25.554 0v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.554 0v-26.791a2.419 2.419 0 0 0-2.419-2.419H81.2a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.555 0v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419m25.554 0v-26.791a2.419 2.419 0 0 0-2.419-2.419h-8.727a2.419 2.419 0 0 0-2.419 2.419v26.791a2.419 2.419 0 0 0 2.419 2.419h8.727a2.419 2.419 0 0 0 2.419-2.419"/>
            <path fill="#464a4c"
                  d="M160.128 226.389H9.909a4.438 4.438 0 0 1-4.439-4.439v-10.737a4.438 4.438 0 0 1 4.439-4.439h150.219a4.438 4.438 0 0 1 4.439 4.439v10.737a4.438 4.438 0 0 1-4.439 4.439m4.439 83.482v-10.737a4.438 4.438 0 0 0-4.439-4.439H9.909a4.438 4.438 0 0 0-4.439 4.439v10.737a4.438 4.438 0 0 0 4.439 4.439h150.219a4.438 4.438 0 0 0 4.439-4.439m0 143.048v-10.737a4.438 4.438 0 0 0-4.439-4.439H9.909a4.438 4.438 0 0 0-4.439 4.439v10.737a4.438 4.438 0 0 0 4.439 4.439h150.219a4.438 4.438 0 0 0 4.439-4.439"/>
            <path fill="#aaa9a2"
                  d="M331.262 73.649h-11.574c-5.761 0-10.431 4.67-10.431 10.431v45.187c0 5.761 4.67 10.431 10.431 10.431h11.574c5.761 0 10.431-4.67 10.431-10.431V84.079c0-5.76-4.67-10.43-10.431-10.43"/>
            <path fill="#d1cfc3"
                  d="M356.832 125.894h-62.715a6.85 6.85 0 0 0-6.849 6.849v141.903a6.85 6.85 0 0 0 6.849 6.849h62.715a6.85 6.85 0 0 0 6.849-6.849V132.744a6.849 6.849 0 0 0-6.849-6.85"/>
            <path fill="#aaa9a2"
                  d="M391.66 203.707h-21.137a9.627 9.627 0 0 0 2.069-5.967v-41.929c0-5.345-4.333-9.679-9.679-9.679h-10.739c-5.345 0-9.679 4.333-9.679 9.679v41.929c0 2.254.777 4.322 2.069 5.967h-38.177a9.627 9.627 0 0 0 2.069-5.967v-41.929c0-5.345-4.333-9.679-9.679-9.679h-10.74c-5.345 0-9.679 4.333-9.679 9.679v41.929c0 2.254.777 4.322 2.069 5.967H259.29a4.01 4.01 0 0 0-4.009 4.009v297.315a4.01 4.01 0 0 0 4.009 4.009h132.37a4.01 4.01 0 0 0 4.009-4.009V207.716a4.01 4.01 0 0 0-4.009-4.009"/>
            <path fill="#b1eafe"
                  d="M220.89 101.684c0-11.618-9.418-21.036-21.036-21.036c-9.79 0-17.994 6.698-20.34 15.754a12.458 12.458 0 0 0-7.094-2.208c-6.917 0-12.524 5.607-12.524 12.524c0 .973.122 1.916.332 2.826a12.041 12.041 0 0 0-2.911-.368c-6.666 0-12.069 5.404-12.069 12.069c0 6.666 5.404 12.069 12.069 12.069h63.573c8.735 0 15.815-7.081 15.815-15.815s-7.08-15.815-15.815-15.815"/>
            <circle cx="138.912" cy="63.494" r="23.757" fill="#ffcf53"/>
            <path fill="#b1eafe"
                  d="M482.064 42.415c-1.227 0-2.412.167-3.551.449c.256-1.109.405-2.26.405-3.447c0-8.438-6.841-15.279-15.279-15.279c-3.203 0-6.173.989-8.629 2.674c-2.865-11.045-12.9-19.2-24.841-19.2c-14.173 0-25.663 11.49-25.663 25.663c-10.656 0-19.294 8.638-19.294 19.294s8.638 19.294 19.294 19.294h77.558c8.132 0 14.724-6.592 14.724-14.724c0-8.132-6.592-14.724-14.724-14.724"/>
            <path fill="#d1cfc3"
                  d="M327.281 188.011h-3.612a3.255 3.255 0 0 0-3.255 3.255v263.778a3.255 3.255 0 0 0 3.255 3.255h3.612a3.255 3.255 0 0 0 3.255-3.255V191.266a3.255 3.255 0 0 0-3.255-3.255"/>
            <path fill="#00b89c"
                  d="M488.041 328.36h-112.93a3.42 3.42 0 0 0-3.42 3.42v173.84a3.42 3.42 0 0 0 3.42 3.42h112.93a3.42 3.42 0 0 0 3.42-3.42V331.78a3.42 3.42 0 0 0-3.42-3.42"/>
            <path fill="#fff"
                  d="M404.757 386.23h-12.696a3.519 3.519 0 0 1-3.519-3.519V363.96a3.519 3.519 0 0 1 3.519-3.519h12.696a3.519 3.519 0 0 1 3.519 3.519v18.751a3.52 3.52 0 0 1-3.519 3.519m36.242-3.52v-18.751a3.519 3.519 0 0 0-3.519-3.519h-12.696a3.519 3.519 0 0 0-3.519 3.519v18.751a3.519 3.519 0 0 0 3.519 3.519h12.696a3.518 3.518 0 0 0 3.519-3.519m32.724 0v-18.751a3.519 3.519 0 0 0-3.519-3.519h-12.696a3.519 3.519 0 0 0-3.519 3.519v18.751a3.519 3.519 0 0 0 3.519 3.519h12.696a3.518 3.518 0 0 0 3.519-3.519m-65.447 104.101v-51.946a3.519 3.519 0 0 0-3.519-3.519h-12.696a3.519 3.519 0 0 0-3.519 3.519v51.946a3.519 3.519 0 0 0 3.519 3.519h12.696a3.52 3.52 0 0 0 3.519-3.519m32.723 0v-51.946a3.519 3.519 0 0 0-3.519-3.519h-12.696a3.519 3.519 0 0 0-3.519 3.519v51.946a3.519 3.519 0 0 0 3.519 3.519h12.696a3.519 3.519 0 0 0 3.519-3.519m32.724 0v-51.946a3.519 3.519 0 0 0-3.519-3.519h-12.696a3.519 3.519 0 0 0-3.519 3.519v51.946a3.519 3.519 0 0 0 3.519 3.519h12.696a3.52 3.52 0 0 0 3.519-3.519"/>
            <path fill="#597b91"
                  d="M492.283 344.329H369.982a3.614 3.614 0 0 1-3.614-3.614v-8.741a3.614 3.614 0 0 1 3.614-3.614h122.301a3.614 3.614 0 0 1 3.614 3.614v8.741a3.614 3.614 0 0 1-3.614 3.614m3.614 67.967v-8.741a3.614 3.614 0 0 0-3.614-3.614H369.982a3.614 3.614 0 0 0-3.614 3.614v8.741a3.614 3.614 0 0 0 3.614 3.614h122.301a3.614 3.614 0 0 0 3.614-3.614"/>
            <path fill="#ff473e"
                  d="M304.602 359.713H184.666a2.996 2.996 0 0 0-2.996 2.996V504.17a2.996 2.996 0 0 0 2.996 2.996h119.935a2.996 2.996 0 0 0 2.996-2.996V362.709a2.995 2.995 0 0 0-2.995-2.996"/>
            <path fill="#fff"
                  d="M225.552 442.525h-16.721a7.73 7.73 0 0 1-7.729-7.729v-35.1a7.73 7.73 0 0 1 7.729-7.729h16.721a7.73 7.73 0 0 1 7.729 7.729v35.1a7.728 7.728 0 0 1-7.729 7.729"/>
            <path fill="#597b91" d="M247.63 459.078h36.486v48.031H247.63z"/>
            <path fill="#2b3b47"
                  d="M243.593 468.363c-3.292 0-5.645-3.096-4.905-6.304c2.857-12.373 13.944-21.597 27.185-21.597s24.328 9.224 27.185 21.597c.741 3.208-1.612 6.304-4.905 6.304zm-59.938-105.654h121.958c1.186 0 2.24-.757 2.618-1.881l4.96-14.74a2.762 2.762 0 0 0-2.618-3.643H178.695a2.762 2.762 0 0 0-2.618 3.643l4.96 14.74a2.762 2.762 0 0 0 2.618 1.881"/>
        </svg>
    </div>
</div>
<a id="btnDownload" href="https://www.nullplatform.com" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1284.52 271.97">
        <path fill="#00AB55"
              d="m549.08,106.37l-18.25,18.25v-18.25h-14.76v145.57h15.17v-58.23l16.81,14.76h39.37l18.86-18.86v-64.38l-18.86-18.86h-38.34Zm42.03,78.53l-10.25,10.05h-29.94l-19.68-17.84v-35.27l21.94-21.94h27.68l10.25,10.05v54.95Z"></path>
        <rect fill="#00AB55" x="636.01" y="62.08" width="15.17" height="146.39"></rect>
        <path fill="#00AB55"
              d="m699.57,106.37l-18.86,18.86v12.71h15.17v-8.41l10.25-10.05h34.86l10.25,10.05v19.48h-54.54l-16.81,16.61v26.04l16.81,16.81h36.09l18.86-18.04v18.04h14.56v-83.24l-18.86-18.86h-47.77Zm51.67,68.28l-21.53,20.71h-26.45l-8.2-8v-17.22l8.2-8h47.98v12.51Z"></path>
        <polygon fill="#00AB55"
                 points="818.28 73.15 803.52 73.15 803.52 106.37 784.65 106.37 784.65 119.69 803.11 119.69 803.11 189.61 821.97 208.47 850.27 208.47 850.27 195.14 828.53 195.14 818.28 184.89 818.28 119.69 850.27 119.69 850.27 106.37 818.28 106.37 818.28 73.15"></polygon>
        <polygon fill="#00AB55"
                 points="883.07 83.61 883.07 106.37 864.62 106.37 864.62 119.69 883.07 119.69 883.07 208.47 898.24 208.47 898.24 119.69 930.43 119.69 930.43 106.37 898.24 106.37 898.24 87.91 907.47 78.89 930.43 78.89 930.43 65.77 900.91 65.77 883.07 83.61"></polygon>
        <path fill="#00AB55"
              d="m963.65,106.37l-18.86,18.86v64.38l18.86,18.86h52.49l18.86-18.86v-64.38l-18.86-18.86h-52.49Zm56.18,78.53l-10.25,10.05h-39.37l-10.25-10.05v-54.95l10.25-10.05h39.37l10.25,10.05v54.95Z"></path>
        <polygon fill="#00AB55"
                 points="1078.46 124.61 1078.46 106.37 1063.7 106.37 1063.7 208.47 1078.87 208.47 1078.87 141.63 1100.61 119.9 1123.16 119.9 1123.16 106.37 1096.71 106.37 1078.46 124.61"></polygon>
        <polygon fill="#00AB55"
                 points="1265.66 106.37 1233.47 106.37 1217.48 122.36 1201.48 106.37 1177.08 106.37 1157.4 126.05 1157.4 106.37 1142.64 106.37 1142.64 208.47 1157.81 208.47 1157.81 142.04 1179.95 119.9 1197.18 119.9 1207.43 129.94 1207.43 208.47 1222.19 208.47 1222.19 134.25 1236.54 119.9 1259.1 119.9 1269.35 129.94 1269.35 208.47 1284.52 208.47 1284.52 125.23 1265.66 106.37"></polygon>
        <path fill="#00AB55"
              d="m526.22,0l-90.11,163.23v-.08c-10.05,1.85-12.51-.82-12.51-21.94V58.36l-46.34-.2v113.2c0,18.04,5.95,36.29,33.01,36.29h1.32l-35.52,64.33h30.26L556.48,0h-30.26Z"></path>
        <path fill="#00AB55"
              d="m110.74,89.95s-.02,0-.03,0h-25.41c-28.46,0-39.08,19.1-41.85,25.53-.17.4-.76.26-.75-.17l.5-24.1c0-.22-.17-.4-.4-.4l-42.42.16c-.22,0-.39.18-.39.39v115.89c0,.22.18.39.39.39h42.89c.22,0,.39-.18.39-.39v-59.68c0-14.21,19.88-12.94,20.29-12.92,0,0,.01,0,.02,0h23.36c18.04,0,17.84,13.94,17.84,13.94v58.66c0,.22.18.39.39.39h41.25c.22,0,.39-.18.39-.39v-88.39c0-24.19-23.97-28.09-36.48-28.91Z"></path>
        <path fill="#00AB55"
              d="m259.35,150.81c0,14.35-20.3,12.92-20.3,12.92h-23.38c-18.04,0-17.84-13.94-17.84-13.94v-59.05h-42.03v88.78c0,24.2,23.99,28.09,36.5,28.91h25.43c28.46,0,39.08-19.1,41.85-25.53.17-.4.76-.26.75.17l.06,24.2,42.64.14v-116.67h-43.68v60.08Z"></path>
        <path fill="#00AB55"
              d="m357.78,141.2V58.36l-46.34-.2v113.2c0,18.04,5.95,36.29,33.01,36.29h25.84v-44.49c-10.05,1.85-12.51-.82-12.51-21.94Z"></path>
    </svg>
</a>
</body>
</html>
